#CATEGORIES
log4cpp.rootCategory=INFO, rootAppender, logfile

log4cpp.category.main

log4cpp.category.signalHandler

log4cpp.category.database
log4cpp.category.database.transaction
log4cpp.category.database.logDao

log4cpp.category.server
log4cpp.category.server.connection
log4cpp.category.server.connection.communication
log4cpp.category.server.connection.clientCommunication
log4cpp.category.server.connection.clientCommunication.request
log4cpp.category.server.connection.clientCommunication.transaction.action
log4cpp.category.server.connection.transmission
log4cpp.category.server.connection.requestProcessor
log4cpp.category.server.connection.chatMessageProcessor


#APPENDERS
log4cpp.appender.rootAppender=ConsoleAppender
log4cpp.appender.rootAppender.layout=PatternLayout
log4cpp.appender.rootAppender.layout.ConversionPattern=%d{%Y-%m-%dT%H:%M:%S.%l}%x: %c %p : %m%n

log4cpp.appender.logfile=org.apache.log4cpp.FileAppender
log4cpp.appender.logfile.fileName=/path/to/log/file
log4cpp.appender.logfile.layout=PatternLayout
log4cpp.appender.logfile.layout.ConversionPattern=%d{%Y-%m-%dT%H:%M:%S.%l}%x: %c %p : %m%n
